@tailwind base;
@tailwind components;


* {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
}

/* Dropdown Button */
.dropbtn {
  padding: 20px 5px;
  color: rgb(0, 0, 0);
  border: none;
  display: flex;
}

.dropSizebtn {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  display: flex;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 50;
}

.dropSize {
  display: flex;
  position: relative;
  z-index: 60;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 60;
}

.dropSize-content {
  display: none;
  position: absolute;
  left: 100%;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 60;
}

/* Links inside the dropdown */
.dropdown-content a,
.dropSize-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.options {
  display: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropSize:hover .dropSize-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #000000;
  color: white;
}

.dropSizebtn:hover {
  background-color: #000000;
  color: white;
}

.dropdown:hover .dropbtn img {
  filter: invert(1);
}

.dropSize:hover img {
  filter: invert(1);
}

@keyframes boxes {
  from {
    left: 30vw;
  }
  to {
    left: 0px;
  }
}

#insideAboutBoxes {
  animation-name: boxes;
  animation-duration: 2000ms;
}

@tailwind utilities;

.options {
  display: none;
}

.optionsBtn {
  display: none;
}

.dropdown:hover .options { display: flex;}

.dropSize:hover .optionsBtn { display: flex;}

.menu {
  display: none;
}





html {
  scroll-behavior: smooth;
}

.slider {
  margin-bottom: 30px;
  position: relative;
}

.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;

}

.slider-card {
  background: bg-gray-100;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}

.slider-card img {
  border-radius: 5px 5px 0px 0px;
}

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}

.owl-dots .owl-dot.active {
  background: #f44336 !important;
}